.App{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.controls{
  width: 10vw;
  height: 40vh;
  padding: auto;

}

.box{
  text-align: center;
  padding: 20vh 0px;
  width: 40vw;
  height: 60vh;
  background-color: blueviolet;
  color: white;
}